# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
job_matching/
jobs/
venv/
env/
*.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packages metadata
*.egg-info/
*.egg
pip-wheel-metadata/

# PyTorch / Hugging Face cache
cache/
*.pt
*.bin

# Env file
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Large index files
job_embeddings.index
